.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  text-align: center;
  height: 30px;
  color: #35393A;
  font-weight: 500;
}

.byd-app-content{
  margin-bottom: 30px;
}
