bin
*.tfplan
artefacts
HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### cucumber reports  ###
**/target/cucumber-reports

**/src/main/generated/**
**/tmp/*.json

 ### UI ###
**/src/ui/**/app/node_modules/
**/src/ui/**/app/coverage/
**/src/ui/**/app/public/beyond_logo.png
**/src/ui/**/app/public/theme-ai7.css
**/src/ui/**/app/public/theme-base.css
**/src/ui/**/app/public/theme-dark.css
**/src/ui/**/app/.nyc_output
**/src/ui/**/app/build-instrument
**/src/ui/**/app/coverage
**/src/ui/**/app/cypress/plugin
**/src/ui/**/app/cypress/screenshots
**/src/ui/**/app/results

### Helm ###
# Chart dependencies
**/charts/*.tgz

### generated classes (valo job import) ###
**/src/test/resources/tmp/

### Python ###
**/dist/
**/*.egg-info/
**/__pycache__/
**/src/**/setup.cfg

